# Set default behavior to automatically detect text files and normalize line endings to LF on commit
* text=auto eol=lf

# Explicit text file types
*.java text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.md text eol=lf
*.sql text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.xml text eol=lf
*.css text eol=lf
*.html text eol=lf
*.sh text eol=lf
*.py text eol=lf
*.env* text eol=lf
.gitignore text eol=lf
Dockerfile text eol=lf

# Windows scripts
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Binary file formats
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.svg text eol=lf
*.jar binary
*.zip binary
*.tar binary
*.gz binary
*.mp3 binary
*.mp4 binary
*.wav binary
