# Server Configuration
PORT=8080

# PostgreSQL Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=narrativex
DB_USERNAME=narrativex
DB_PASSWORD=narrativex

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
